.junction_logo {
  width: 200px;
}
.junction_posts img {
  max-width: 100%;
}

.junction_menu {
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 3000;
  text-transform: uppercase;

  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

body {
  background-color: #232323;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
// color palette
$primary: #232323;
$secondary: #fbfbfb;
$accent: #5abecf;
$accent2: #ec008b;
$accent3: #ef4637;

@mixin theme($name, $color) {
  .#{$name} {
    .element {
      color: $color;
    }

    .other-element {
      background: $color;
    }
  }
}

.text-primary {
  color: $secondary;
}
.text-secondary {
  color: $accent;
}
.background-primary {
  background-color: $secondary;
}
.background-secondary {
  background-color: $accent;
}
.bold {
  font-weight: bold;
}
.text-underline {
  border-bottom: 10px solid $accent;
  margin-bottom: 10px;
}
.text-title-bold {
  font-weight: 900;
}
.junction-description {
  font-size: 36px;
  line-height: 60px;
}
