$white: #ffffff;
// color palette
$primary: #232323;
$secondary: #fbfbfb;
$accent: #5abecf;
$accent2: #ec008b;
$accent3: #ef4637;
.junction_logo {
  width: 200px;
}
.topnav {
  margin: 20px 0 20px 0;
  a:link{
    color: $secondary;
    text-decoration: none;
  }
  a:visited{
    color: $secondary;
    text-decoration: none;
  }
  a:hover{
    color: $accent;
    text-decoration: underline;
  }
}

body {
  font-size: 18px;
  min-height: 100vh;
  background-color: #232323;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #fff;
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
  width: 100%;
}

.junction_posts img {
  max-width: 100%;
}

img.responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.junction_menu {
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 3000;
  text-transform: uppercase;
  list-style: none;
  cursor: default;

  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
      url('//fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2')
        format('woff2');

    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  .dot {
    list-style: none;
    cursor: default;
    user-select: none;
    padding: 0;
    margin: 0 auto;
    width: 3rem;

    li {
      display: block;
      margin: 0 1rem 1rem;
      width: 1rem;
      height: 1rem;
      cursor: pointer;
      position: relative;
    }
  }

  .item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    outline: none;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .3);

    &:focus {
      outline: none;
    }
  }

  // Fill up

  .fillUp {
    .item {
      background: transparent;
      overflow: hidden;
      box-shadow: inset 0 0 0 .0625rem white;
      transition: background .3s ease;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 .0625rem #fff;
        transition: height .3s ease;
      }

      &:hover,
      &:focus {
        background-color: rgba(0, 0, 0, .2);
      }
    }
  }

  .fillUp .current .item::after {
    height: 100%;
  }
}

.junction_fixed_social {
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 3000;
  text-transform: uppercase;

  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
  .social-media {
    img {
      width: 30px;
      height: 30px;
      margin: 5px;
    }
  }
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
}

@mixin theme($name, $color) {
  .#{$name} {
    .element {
      color: $color;
    }

    .other-element {
      background: $color;
    }
  }
}

.text-primary {
  color: $secondary;
}
.text-secondary {
  color: $accent;
}
.text-tetriary {
  color: $accent;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
.text-body {
  font-family: Lato, sans-serif;
}
.background-primary {
  background-color: $secondary;
}
.background-secondary {
  background-color: $accent;
}
.bold {
  font-weight: bold;
}
.text-underline {
  border-bottom: 10px solid $accent;
  margin-bottom: 10px;
}
.junction-description {
  font-size: 36px;
  line-height: 60px;
}
