@import "variables";
.junction_logo {
  width: 200px;
  padding-top: 15%;
}

.topnav {
  margin: 20px 0 20px 0;
  a:link {
    color: $secondary;
    text-decoration: none;
  }
  a:visited {
    color: $secondary;
    text-decoration: none;
  }
  a:hover {
    color: $accent;
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 24px;
  min-height: 100vh;
  background-color: #232323;
  font-family: "Lato", sans-serif;
  color: #fff;
  margin: 0px;
  padding: 0px;
  // a:link {
  //   color: $secondary;
  //   text-decoration: none;
  // }
  // a:visited {
  //   color: $secondary;
  //   text-decoration: none;
  // }
  // a:hover {
  //   color: $secondary;
  //   text-decoration: underline;
  // }
  box-sizing: border-box;
  width: 100%;
}

.junction_posts img {
  max-width: 100%;
}

img.responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.heightFixed {
  display: block;
  height: 300px;
  width: auto;
  height: auto;
}

.junction_fixed_social {
  // Temp solution to hide nav on small devices - TODO: Make is responsive
  visibility: hidden;
  @media only screen and (min-width: 1200px) {
    visibility: visible;
  }
  position: fixed;
  padding-left: 10px;
  top: 40%;
  left: 0;
  z-index: 3000;
  text-transform: uppercase;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
  .social-media {
    img {
      width: 30px;
      height: 30px;
      margin: 5px;
    }
  }
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
}

@mixin theme($name, $color) {
  .#{$name} {
    .element {
      color: $color;
    }
    .other-element {
      background: $color;
    }
  }
}

.text-primary {
  color: $secondary;
}

.text-secondary {
  color: $accent;
}

.text-tetriary {
  color: $accent;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

.text-body {
  font-family: Lato, sans-serif;
}

.background-primary {
  background-color: $secondary;
}

.background-secondary {
  background-color: $accent;
}

.bold {
  font-weight: bold;
}

.text-underline {
  border-bottom: 10px solid $accent;
  margin-bottom: 10px;
}

.junction-description {
  font-size: 36px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 60px;
}

nav.junction_menu {
  // Temp solution to hide nav on small devices - TODO: Make is responsive
  visibility: hidden;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;

  a:not(.active) {
    visibility: hidden;
  }

  a:before {
    visibility: visible;
  }
  @media only screen and (min-width: 1200px) {
    visibility: visible;
  }
  position: fixed;
  top: 33%;
  right: 0;
  z-index: 3000;
  text-transform: uppercase;
  list-style: none;
  cursor: default;
  padding-left: 1em;
  float: right;
  text-align: right;
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    a {
      text-decoration: none;
      vertical-align: bottom;
      color: #fbfbfb;
      text-shadow: 0px 0px 3px rgba(35, 35, 35, 0.9);
      font-weight: 600;
      &:before {
        position: relative;
        display: inline-block;
        content: "";
        margin-right: 1em;
        border: 2px solid $accent;
        border-radius: 50%;
        box-shadow: 0 0 2px $accent;
        transition: linear 0.3s;
      }
      &:hover {
        cursor: pointer;
        color: #fbfbfb;
        &:before {
          color: #fbfbfb;
          box-shadow: 0 0 3px darken($accent, 10%);
        }
      }
      &.active {
        color: #fbfbfb;
        transition: linear 0.3s;
        &:before {
          color: #fbfbfb;
          background-color: $accent;
        }
      }
    }
    li {
      margin: 10px 0;
      transition: linear 0.3s;
      direction: rtl;
    }
    li:hover {
      a {
        visibility: visible;
        -webkit-transition: all ease 0.1s;
        transition: all ease 0.1s;
      }
    }
  }
  ul li a:before {
    padding: 5px;
    margin-left: 10px;
    vertical-align: middle;
  }
}

/* BURGER */

/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #232323;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  z-index: 10002;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  z-index: 10001;
}
