/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .junction-description {
    line-height: 30px;
    font-size: 16px;
  }
  nav.junction_menu {
    visibility: hidden;
    opacity: 0;
  }
  .faqQuestion {
    // margin: 0;
    // padding: 0;
    font-size: 14px;
  }
  .junction_welcome {
    line-height: 40px;
  }
  .junction_welcome_bottom {
    visibility: hidden;
    opacity: 0;
  }
  .text-tetriary {
    font-size: 12px;
    line-height: 30px;
  }
  h1 {
    line-height: 40px;
  }
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (max-device-width: 1024px) {
  .junction-description {
    line-height: 30px;
    font-size: 16px;
  }
  nav.junction_menu {
    visibility: hidden;
    opacity: 0;
  }
  .faqQuestion {
    // margin: 0;
    // padding: 0;
    font-size: 14px;
  }
  .junction_welcome {
    line-height: 40px;
  }
  .junction_welcome_bottom {
    visibility: hidden;
    opacity: 0;
  }
  .text-tetriary {
    font-size: 12px;
    line-height: 30px;
  }
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  p {
    font-size: 14px;
  }
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* iPhone 6 portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* iPhone 6 Plus landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
}

/* iPhone 6 Plus portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
}

/* iPhone 6 and 6 Plus */
@media only screen and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px) {
}

/* Apple Watch */
@media (max-device-width: 42mm) and (min-device-width: 38mm) {
}
