{
  "presets": ["stage-0", "es2015", "react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src"
        }
      }
    ],
    "transform-class-properties",
    "babel-polyfill"
  ],
  "env": {}
}
