@import '../../stylesheets/variables';

.wrapper {
  position: relative;
  clear: both;
  margin: 0 auto 75px auto;
  width: 100%;
  overflow: hidden;
}
.top {
  background: #ff4444;
  height: 180px;
  border-top: 20px solid #cc0000;
}
.challenge_content {
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    text-align: center;
  }
  text-align: left;
}

.text_highlight {
  font-family: 'Montserrat';
  font-weight: 600;
  color: $accent;
  border-bottom: 1px solid $accent;
  display: inline-block;
  line-height: 25px;
  margin: 12px 0;
  text-decoration: none;
}

/*
h1{
  text-align:center;
  font-family: Montserrat;
  font-size:24px;
  color:#232323;
  font-weight:700;
}

h2{
  font-family: Montserrat;
  font-size:24px;
  color:#232323;
  font-weight:700;
}

h3{
  font-family: Montserrat;
  font-size:20px;
  color:#232323;
  font-weight:700;
}*/

.content .card.first {
  margin-top: -80px;
}

.card {
  position: relative;
  background: #fbfbfb;
  padding: 50px;
  margin: 20px auto 0 auto;
}

.card .text {
  color: #232323;
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
}

.left {
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  text-align: left;
}

/*
* {
  box-sizing: border-box;
}
img {
}
*/
.partner-logo {
  width: 100%;
}
.li {
  padding: 0;
  list-style: none;
}
.collage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}
.collage-item {
  flex: 0 0 30%;
  padding: 20px 0 20px 0;
}
.collage-item p {
  padding-top: 10px;
}
.chief .collage-item:nth-child(6) {
  padding-left: 100px;
  margin-top: -15px;
}
.major .collage-item:nth-child(3) {
  margin-top: -120px;
  padding-left: 370px;
}
.fullwidth {
  flex: 0 0 90%;
}
.one_third {
  flex: 0 0 30%;
}
.two_thirds {
  flex: 0 0 60%;
}
.goToParent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goTo {
  background: #4fba6f;
  border: #4fba6f;
  border-radius: 50%;
  color: #fbfbfb;
  min-width: 40%;
  min-height: 40%;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;

  &:hover {
    background: #232323;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .fa {
    color: #fbfbfb;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  &:hover {
    color: #4fba6f;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
  }
}
.simple_challenge_logo {
  width:200px !important;
  max-width: 100%;
  margin-right:700px;
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    margin-left: auto;
    margin-right: auto;
  }
}
