.event_link {
  a:link{
    color:#35E2DF;
    text-decoration: none;
  }
  a:visited{
    color:#35E2DF;
    text-decoration: none;
  }
  a:hover{
    color:#35E2DF;
    text-decoration: none;
  }
  a {
    border-bottom: 1px solid #35E2DF;
    display: inline-block;
    line-height: 25px;
    margin: 20px 0;
    text-decoration: none;
  }
}
h3{
  font-family: Montserrat, sans-serif!important;
}
.event {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color:#232323;
}
