.event_link {
  a:link{
    color:#35E2DF;
    text-decoration: none;
  }
  a:visited{
    color:#35E2DF;
    text-decoration: none;
  }
  a:hover{
    color:#35E2DF;
    text-decoration: none;
  }
}
h3{
  font-family: Montserrat, sans-serif!important;
}
.event {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color:#232323;
}
