.fixed {
  height: 300px;
}
.medium_post_link {
  color: #5abecf;
}
.block {
  a:link {
    color: #5abecf;
    text-decoration: none;
  }
  a:visited {
    color: #5abecf;
    text-decoration: none;
  }
  a:hover {
    color: #5abecf;
    text-decoration: underline;
  }
}
