.trackCell {
  height: 180px;
  text-decoration: none;

  position: relative;
  color: white;
  background-size: 100%;
  background-position: 50% 50%;
  -webkit-transition: background-size 500ms linear;
  -moz-transition: background-size 500ms linear;
  -o-transition: background-size 500ms linear;
  -ms-transition: background-size 500ms linear;
  transition: background-size 500ms linear;
  .awesome_overlay {
    background-color: rgba(53, 226, 223, 0);
    height: 180px;
  }
  .awesome_overlay:hover {
    background-color: rgba(53, 226, 223, 0.3);

    transition: background-color 0.3s ease-in, transform 0.3s ease-in;
  }

  .inside {
    h2 {
      padding-top: 15%;
      text-shadow: 5px 5px 10px black;
    }
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;

    * {
      transition: all 0.5s ease-in 0.1s;
    }
  }

  &:hover {
    background-size: 120%;

    .inside {
      transition: all 0.5s ease;
      opacity: 1;
    }
  }
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin-top: 150px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0px;
  left: 5px;
}
