.trackCell {
  height: 180px;
  position: relative;
  color: white;
  background-size: cover;
  .inside {
    h2 {
      padding-top: 5%;
    }
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    transform: translate(0px, 0px);

    * {
      transition: all 0.5s ease-in 0.1s;
      transform: scale(1);
    }
  }

  &:hover {
    .inside {
      transition: all 0.5s ease;
      transform: translate(0, 15%);
      opacity: 1;

      * {
        transform: scale(1.3);
      }
    }
  }
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin-top: 150px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0px;
  left: 5px;
}
