@import '../../stylesheets/variables';

.title {
  @media only screen and (min-width: 768px) {
    width: max-content;
  }
  border-bottom: 10px solid $accent;
  margin-top: 0px;
  margin-bottom: 10px;
}

