.block {
  background: #fbfbfb;
  color: #000000;
}
.numbers {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif !important;
}
