@import '../../stylesheets/variables';


.block {
  background-color: black;
  color: #fbfbfb !important;
  padding-top: 0px;
  padding-bottom: 0px;
}

.text_section {
  margin-top: 80px;
  margin-bottom: 80px;
}
.text_highlight {
  font-family: "Montserrat";
  font-weight: 700;
  color: $accent;
}

.title {
  color: #fbfbfb;
  word-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  margin-bottom: 30px;
}

@-webkit-keyframes bouncey {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bouncey {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.apply_button {
  margin-top: 30px;
  padding: 20px 40px;
  background: none;
  color: #fbfbfb;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}
.apply_button:focus {
  outline: none;
}
.apply_button:after,
.apply_button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #ec008b;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.apply_button:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
  border-color: $accent;
}
.apply_button:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}
.apply_button:hover:after,
.apply_button:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
  border: 2px solid transparent;
  background-color: transparent;
  border-image: linear-gradient(to right, #ec008b, $accent);
  border-image-slice: 1;
}
