.block {
  background: #FBFBFB;
  color: #232323;
}

h3 {
  font-family: Montserrat, sans-serif !important;
}

.hacktalks_link {
  a:link {
    color: #35e2df;
    text-decoration: none;
  }
  a:visited {
    color: #35e2df;
    text-decoration: none;
  }
  a:hover {
    color: #35e2df;
    text-decoration: none;
  }
  a {
    border-bottom: 1px solid #35e2df;
    display: inline-block;
    line-height: 25px;
    margin: 20px 0;
    text-decoration: none;
  }
}
