$question-height: 40px;
$question-line-height: 20px;
$question-padding: ($question-height - $question-line-height) / 2;
$open-button-color: #2afd9c;
$answer-padding: $question-padding;

.faqSection {
  position: relative;
  width: 100%;
  height: auto;
  @media only screen and (min-width: 1224px) {
    min-height: 0;

    /* Styles */
  }
  min-height: 10vh;
  background-color: rgba(255, 255, 255, 1.0);
  color: black;
}

.faqSection.open {
  .faqAnswer {
    height: auto;
  }
}

.faqQuestion {
  height: $question-height;
  font-weight: bold;
  line-height: $question-line-height;
  padding-top: $question-padding;
  padding-bottom: $question-padding;
  padding-left: $question-padding;
  padding-right: $question-height;
  user-select: none;
  cursor: pointer;
}

.faqAnswer {
  height: 0px;
  overflow: hidden;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
}

.faqAnswerText {
  padding: $answer-padding;
  box-sizing: border-box;
}

.openButton {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: $question-height;
  width: $question-height;
  outline: 0;
  border: 0;
  background: none;
  text-indent: -9999%;
  pointer-events: none;
  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 12px;
    width: 4px;
    border-radius: 0.3em;
    background: $open-button-color;
    transform-origin: 50%;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease-in-out;
  }
  &:after {
    transform: translate(-75%, -50%) rotate(-45deg);
  }
  &:before {
    transform: translate(75%, -50%) rotate(45deg);
  }
}

.faqSection.open .openButton {
  &:after,
  &:before {
    height: 14px;
    background: darken($open-button-color, 10);
  }
  &:after {
    transform: translate(0%, -50%) rotate(45deg);
  }
  &:before {
    transform: translate(0%, -50%) rotate(-45deg);
  }
}
