// Button component
$color3: white;
.junction_website {
  background-color: #232323;
  margin: 0;
  padding: 0;
  color: $color3;
  padding: 0;

  .junction_welcome_bottom {
    margin-top: 300px;
  }
}
.junction_hackthefuture {
  margin-top: 400px;
}

.junction_about {
  box-sizing: border-box;
  padding: 80px 0 0 0;
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
  }
  .junction-description {
    padding: 50px 0 0 0;
  }
  .junction_up_next {
    padding: 50px 0 0 0;
  }
  .junction_events_hacktalks {
    max-height: 480px;
    min-width: 100%;
  }
}

.junction_tracks {
  padding: 80px 0 0 0;
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
  }
}

.junction_partners {
  padding: 80px 0 0 0;
}

.junction.hacktalks {
  padding: 80px 0 0 0;
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .container {
    padding: 0 16px;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
}

.junction_media {
  padding: 80px 0 0 0;
  .medium_post {
    padding: 80px 0 0 0;
  }
  .medium_post_pictures {
    width: 200px;
    height: 200px;
  }
  .medium_post_title {
    height: 100px;
  }
}

.junction_button {
  position: relative;
  padding: 1em 1.5em;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
  &.junction_border {
    color: $color3;
    &.junction_border:after,
    &.junction_border:before {
      content: "";
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px;
    }
    &.junction_border:after {
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: $color3;
      border-right-color: $color3;
    }
    &.junction_border:before {
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: $color3;
      border-left-color: $color3;
    }
    &.junction_border:hover:after {
      right: -15px;
      border-bottom-color: $color3;
      border-right-color: $color3;
      border-top-color: $color3;
      border-left-color: $color3;
      width: 115%;
      height: 100%;
    }
    &.junction_border:hover:before {
      top: -12px;
      border-bottom-color: $color3;
      border-right-color: $color3;
      border-top-color: $color3;
      border-left-color: $color3;
      width: 100%;
      height: 130%;
    }
  }
}

// Rotating text
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Picture carusal
.picture_container_image {
  margin: 10px;
  padding: 2%;
}

.subfooter {
  padding-top: 30px;
  padding-bottom: 30px;
  font-style: italic;
}
