// Button component
$color3: white;
.junction_website {
  background-color: #232323;
  margin: 0;
  padding: 0;
  color: $color3;
  padding: 0;

  .junction_welcome_bottom {
    margin-top: 300px;
  }
}
.junction_hackthefuture {
  margin-top: 400px;
}

.junction_about {
  box-sizing: border-box;
  padding: 80px 0 0 0;
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
  }
  .junction-description {
    padding: 50px 0 0 0;
  }
  .junction_up_next {
    padding: 50px 0 0 0;
  }
  .junction_events_hacktalks {
    max-height: 480px;
    min-width: 100%;
  }
}

.junction_tracks {
  padding: 80px 0 0 0;
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
  }
}

.junction_partners {
  padding: 80px 0 0 0;
}

.junction.hacktalks {
  padding: 80px 0 0 0;
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .container {
    padding: 0 16px;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
}

.junction_media {
  padding: 80px 0 0 0;
  .medium_post {
    padding: 80px 0 0 0;
  }
  .medium_post_pictures {
    width: 200px;
    height: 200px;
  }
  .medium_post_title {
    height: 100px;
  }
}

// Rotating text
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Picture carousel
.picture_container_image {
  margin: 10px;
  padding: 2%;
}

.subfooter {
  padding-top: 30px;
  padding-bottom: 30px;
  font-style: italic;
}
