@import '../../stylesheets/variables';

.block {
  background-color: black;
  color: #fbfbfb;
}

.track_row {
  padding-top: 0px;
  padding-bottom: 0px;
}

.text_highlight {
  font-family: "Montserrat";
  font-weight: 700;
  color: $accent;
}
