@import '../stylesheets/variables';

.background_top {
  max-width: 100%;
  padding-bottom: 0;
}

.infotext {
  padding-top: 0 !important;
  margin-top: 0 !important;
  background: black !important;
  color: white !important;
}

.parag {
  font-size: 20px;
  line-height: 1.4;
}

.block {
  background: #FBFBFB;
  color: #000000;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.dark_block {
  background: #000000;
  color: #fbfbfb !important;
  align-items: center;
  justify-content: center;
}

.number {
  font-weight: 900;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.community {
  p, h1, h2, h3, h4 {text-align: center;}
}
.video {
  margin-top: 2em;
}
.bottomRow {
  margin-top: 50px;
}

.content {
  max-width: 800px;
}

h4 {
  font-family: 'Montserrat';
  font-weight: 700;
}

.apply_button {
  padding: 20px 40px;
  margin-top: 5%;
  background: none;
  color: #232323;
  border: none;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}
.apply_button:focus {
  outline: none;
}
.apply_button:after,
.apply_button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #ec008b;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.apply_button:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
  border-color: $accent;
}
.apply_button:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}
.apply_button:hover:after,
.apply_button:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
  border: 2px solid transparent;
  background-color: transparent;
  border-image: linear-gradient(to right, #ec008b, $accent);
  border-image-slice: 1;
}
