@import '../stylesheets/variables';

$color3: white;
.track_page {
  background-color: #fbfbfb;
  .top_nav_tracks{
    background-color: #232323 !important;
  }
}
.categoryButton {
  cursor: pointer;
  padding: 0px 5px;
  font-weight: bold;
}
.inner {
  margin: 5px;
  color: #000000;
  background: #fbfbfb;
}
.innerSelected {
  margin: 5px;
  color: #000000;
  background: $accent;
}
.calendarEvent {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.grid {
  margin-bottom: 50px;
}
.h1 {
  @media only screen and (min-width: 320px) {
      font-size: 24px;
      line-height: 28px;
  }
  @media only screen and (min-width: 500px) {
      font-size: 32px;
      line-height: 45px;
  }
}
.trackCell {
  margin-top: 20px;
  height: 180px;
  text-decoration: none;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  background-size: 100%;
  background-position: 50% 50%;
  -webkit-transition: background-size 500ms linear;
  -moz-transition: background-size 500ms linear;
  -o-transition: background-size 500ms linear;
  -ms-transition: background-size 500ms linear;
  transition: background-size 500ms linear;

  &:hover {
    background-size: 110%;

    .inside {
      transition: all 0.5s ease;
      opacity: 1;
    }
  }
}

.open_container {
  background-color: #fbfbfb;
  color: black;
  margin-top: 10px;
}
.text_content {
  max-width: 90%;
}
.text_content a {
  color: $accent;
}
.awesome_overlay {
  background-color: rgba(53, 226, 223, 0);
  height: 180px;
}

.awesome_overlay:hover {
  background-color: rgba(53, 226, 223, 0.3);
  transition: background-color 0.3s ease-in, transform 0.3s ease-in;
}
.arrow {
  font-size: 30px;
  margin-bottom: 20px;
  color: $accent;
}
.arrow:hover {
  color: #fbfbfb;
  text-shadow: 0px 0px 5px $accent;
}

.inside {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;

  h2 {
    text-shadow: 5px 5px 10px black;
  }

  * {
    transition: all 0.5s ease-in 0.1s;
  }
}


.apply_button {
  margin-top: 30px;
  padding: 20px 40px;
  background: none;
  color: #000000;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}
.apply_button:focus {
  outline: none;
}
.apply_button:after,
.apply_button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #ec008b;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.apply_button:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
  border-color: $accent;
}
.apply_button:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}
.apply_button:hover:after,
.apply_button:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
  border: 2px solid transparent;
  background-color: transparent;
  border-image: linear-gradient(to right, #ec008b, $accent);
  border-image-slice: 1;
}
