.block {
  background: black;
  width:100%;
  color: rgb(165, 122, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title {
  width: 100%;
}
.content {
  width:100%;
}

h2, h4 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: rgb(165, 122, 0);
}

.title h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(165, 122, 0);
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.title h2 span {
  background:black;
  padding:0 10px;
}
