.hero {
  padding-left: 0;
  padding-right: 0;
}

.job_style {
  width: 70%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 25px;
  color: #000;
  background: #fff;
}

.left {
  width: 30%;
  padding-right: 15px;

  .intermediate_text {
    font-size: 18px;
  }

  .deadline .intermediate_text {
    text-align: center;
  }

  .application_end_date {
    text-align: center;
  }

  .application_end_date span {
    color: #fff;
    background: #000;
    padding: 3px 31px;
    font-size: 18px;
  }

  .job_title {
    font: 30px Montserrat, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }

  .deadline p {
    text-align: center;
  }
}

.right {
  width: 68%;
  padding-left: 15px;

  .skill_heading {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
  }

  .skills {
    font-weight: bold;
    color: #fff;
    background: #40e0d0;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
  }
}

@media (max-width: 991px) {
  .left, .right {
    width: 100%;
  }

  .job_style {
    width: 90%;
  }

  .left {
    text-align: center;
  }
}
