.block1 {
  background-color: white;
  color: black;
}

.block12 {
  background-color: white;
  color: black;
  //padding-tom: 0;
}

.terminalImage {
  width: 100vw;
  max-height: 85vh;

}

.partnerImage {
  @media only screen and (min-width: 320px) {
    width: 80%
  }
  @media only screen and (min-width: 1024px) {
    width: 50%;
  }
}

.partnerCnt {
  text-align: center;
  padding-bottom: 0;
}

.parag {
  font-size: 20px;
  line-height: 1.4;
}
