body {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 16px!important;
}
a:link {
  color: #FBFBFB;
  text-decoration: none;
}
a:visited {
  color: #FBFBFB;
  text-decoration: none;
}
a:hover {
  color: #35e2df;
  text-decoration: none;
}
a:active {
  color: #35e2df;
  text-decoration: none;
}

.header,
.site_nav ul {
  display: flex;
  flex-direction: column;
  padding-right: 120px;
}

.header_wrapper {
  padding: 2em;
  width: 100vw;
}

.header {
  max-width: 100vw;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.junction_logo {
  width: 200px;
  padding-top: 5%;
}

.site_nav {
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
  }

  a {
    display: block;
    padding: 0.7em;
    text-align: center;
    color: #fbfbfb !important;
    font-size: 1.2em;
    border-bottom: 1px solid #fbfbfb;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      color: #35e2df !important;
    }
    &:active {
      color: #35e2df !important;
      text-decoration: none;
    }
  }
  li  {
  display: inline-block;
}
}
@media only screen and (min-width: 500px) {
  .site_nav ul {
    flex-direction: row;
    justify-content: space-between;
    a {
      border-bottom: 0;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 700px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
  .logo {
    margin-bottom: 0;
  }
  .site_nav {
    margin-left: auto;
  }
}

.mlh {
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    display: none;
  }
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: absolute;
  right: 30px;
  top: 0;
  width: 10%;
  z-index: 10000;
  img {
    width: 100%;
  }
}
