$color3: white;
.hero {
  padding-left: 0;
  padding-right: 0;
}
.track_header {
  background-color: #232323;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: $color3;
  padding: 0;
  .track_name {
    margin-top: 250px;
  }
}

.junction_website {
  background: none;
}
