.block {
  background: #FBFBFB;
  color: #232323;
}

table.table { width: 100%; }

.table th, .table td {
  text-align: left;
  padding: 0.25em;
  font-size: 18px;
}

.table tr {
  border-bottom: 1px solid #DDD;
}

.days{
  font-family: 'Montserrat';
  font-weight: 700;
  padding-top: 50px;
}

.table_title {
  font-family: 'Montserrat';
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3,3,3,0.2);
  }
  td, th {
    flex: 1 1 150px;
    border: 0.5px solid rgba(3,3,3,0.2);
  }
  td.edit-buttons, td.empty {
    /*flex: 1 0 90%;
    text-align: center;*/
  }
}

* { box-model: border-box; font-family: 'Lato'; }
