// color palette
$primary: #232323;
$secondary: #fbfbfb;
$accent: #35E2DF;
$accent2: #ec008b;
$accent3: #ef4637;

@mixin theme($name, $color) {
  .#{$name} {
    .element {
      color: $color;
    }

    .other-element {
      background: $color;
    }
  }
}

.text-primary {
  color: $secondary;
}
.text-secondary {
  color: $accent;
}
.background-primary {
  background-color: $secondary;
}
.background-secondary {
  background-color: $accent;
}
.bold {
  font-weight: bold;
}
